---
layout: default
category: home
full_title: 物联网感知安全实验室
---
<div class="main_img">
  <div class="main_img_c">
    <div class="bd">
      <div class="nav_shadow"></div>
      <ul>
        <li><a href="{{ site.url }}/soft-robotics/"><img src="/images/home/billboard-1.jpg"></a></li>
        <li><a href="{{ site.url }}/module-climbing/"><img src="/images/home/billboard-2.jpg"></a></li>
        <li><a href="{{ site.url }}/human-robotics/"><img src="/images/home/billboard-3.jpg"></a></li>
        <li><a href="{{ site.url }}/slam/"><img src="/images/home/billboard-4.jpg"></a></li>
        <li><a href="{{ site.url }}/intelligent-industry/"><img src="/images/home/billboard-5.jpg"></a></li>
      </ul>
    </div>
    <div class="hd">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
jQuery(".main_img_c").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true,delayTime:700,interTime:5000});
</script> 
<div class="main_doc">
  <div class="main_doc_center">
    <div class="main_about_us" style="margin-bottom:28px">
      <div class="about_top">
        <div class="app_top">
          <div class="app_top"><p>实验室简介<span>ABOUT BIRL</span><span style="margin-right:458px"></span>实验室动态<span>LAB NEWS</span></p></div>
        </div>
      </div>
      <div class="about_bottom">
        <div class="center" style="text-indent:2em"><p><b>物联网感知安全实验室 (Secure and Sensing Lab, abbr. SSL) </b>物联网感知与安全实验室是一个致力于研究物联网感知技术和安全问题的实验室。该实验室利用先进的物联网技术和安全分析手段，研究智能物联网设备、嵌入式系统、云计算、大数据等领域的感知与安全问题，为保障物联网系统的稳定性和安全性提供支持。
          实验室的研究内容包括物联网感知技术、物联网安全技术、智能家居、智能交通、智能医疗等方面。实验室拥有一支高水平的研究团队，团队成员包括多名博士、硕士研究生以及本科生，以及一批协同研究的企业和机构。实验室的研究成果在国际学术期刊和会议上广泛发表，为国内外物联网研究领域做出了积极贡献。
          该实验室的研究目标是为物联网产业的发展提供有力的支持。欢迎各届人士咨询与合作。</p></div>
        <div class="right">
          <div class="bd">
            <ul class="infoList" id="infoList">{% for post in site.categories["learning-exchange"] %}
              <li class="li">
                <div class="date">
                  <p class="day"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%d" }}</a></p>
                  <span class="month"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%Y-%m" }}</a></span>
                </div>
                <div class="text">
                  <h3 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                  <p><a href="{{ site.url }}{{ post.url }}">{{ post.description }}</a></p>
                </div>
              </li>{% endfor %}{% for post in site.categories["entertainment"] %}
              <li class="li">
                <div class="date">
                  <p class="day"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%d" }}</a></p>
                  <span class="month"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%Y-%m" }}</a></span>
                </div>
                <div class="text">
                  <h3 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                  <p><a href="{{ site.url }}{{ post.url }}">{{ post.description }}</a></p>
                </div>
              </li>{% endfor %}{% for post in site.categories["academic-exchange"] %}
              <li class="li">
                <div class="date">
                  <p class="day"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%d" }}</a></p>
                  <span class="month"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%Y-%m" }}</a></span>
                </div>
                <div class="text">
                  <h3 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                  <p><a href="{{ site.url }}{{ post.url }}">{{ post.description }}</a></p>
                </div>
              </li>{% endfor %}{% for post in site.categories["project-cooperation"] %}
              <li class="li">
                <div class="date">
                  <p class="day"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%d" }}</a></p>
                  <span class="month"><a href="{{ site.url }}{{ post.url }}" style="color:#004da1">{{ post.date | date:"%Y-%m" }}</a></span>
                </div>
                <div class="text">
                  <h3 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                  <p><a href="{{ site.url }}{{ post.url }}">{{ post.description }}</a></p>
                </div>
              </li>{% endfor %}
            </ul>
          </div>
        </div>
        <script type="text/javascript">
          jQuery(".about_bottom .right").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:3,interTime:50,delayTime:1000});
        </script>
      </div>
    </div>
    <div class="main_app">
      <div class="app_top">
        <div class="app_top"><p>研究方向<span>RESEARCH DIRECTION</span></p></div>
      </div>
      <div class="app_bottom">
        <ul>
          <li class="tran_all">
            <a href="{{ site.url }}/soft-robotics/" class="tran_all">
              <img src="/images/research/soft-robotics.jpg" alt="仿生软体">
              <p class="pt">仿生软体</p>
            </a>
          </li>
          <li class="tran_all">
            <a href="{{ site.url }}/module-climbing/" class="tran_all">
              <img src="/images/research/module-climbing.jpg" alt="模块攀爬">
              <p class="pt">模块攀爬</p>
            </a>
          </li>
          <li class="tran_all">
            <a href="{{ site.url }}/human-robotics/" class="tran_all">
              <img src="/images/research/human-robotics.jpg" alt="共融操作">
              <p class="pt">共融操作</p>
            </a>
          </li>
          <li class="tran_all">
            <a href="{{ site.url }}/slam/" class="tran_all">
              <img src="/images/research/slam.jpg" alt="SLAM">
              <p class="pt">SLAM</p>
            </a>
          </li>
          <li class="tran_all">
            <a href="{{ site.url }}/intelligent-industry/" class="tran_all">
              <img src="/images/research/intelligent-industry.jpg" alt="智能工业">
              <p class="pt">智能工业</p>
            </a>
          </li>
        </ul>
      </div>
    </div>    
  </div>
</div>